<div class="buttons">

  <li class="dropdown">
    <a class="btn dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" disabled>Filtres</a>
    <ul class="dropdown-menu">
      <li class="dropdown-submenu dropdown dropend">
        <a class="dropdown-item dropdown-toggle fs-6" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" disabled>Status</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item" (click)="filtreStatus('avec')">Avec vacataire affecter</li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item" (click)="filtreStatus('sans')">Sans vacataire affecter</li>
        </ul>
      </li>
    </ul>
  </li>

  <div data-bs-toggle="modal" data-bs-target="#createCoursModal" class="btn">Créer un Cours</div>

  <div class="modal fade" id="createCoursModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createCoursModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createCoursModalLabel">Créer un Cours</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-2"
            name="coursForm"
            [formGroup]="coursForm"
            (ngSubmit)="addCours()"
        >

          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Base de données">
            <label for="name">Nom du cours :</label>

            <div class="form_error" *ngIf="f.name.errors && f.name.touched">
                <div class="form-text text-danger" *ngIf="f.name.errors?.['required']">Veuillez saisir un nom pour le cours</div>
              </div>
            </div>

          <div class="cours-color mb-2" style="position: relative;">
            <div>
                <label for="color" class="form-label">Couleur du module :</label>
            </div>
            <div>
                <input type="color" class="ms-2" id="color" formControlName="color" />
            </div>

            <div class="form_error" *ngIf="f.color.errors" style="position: absolute; bottom: -10px;" >
                <div class="form-text text-danger" *ngIf="f.color.errors?.['required']">Veuillez choisir une couleur</div>
            </div>
          </div>

          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="group" formControlName="group" placeholder="BUT3-1">
            <label for="group">Groupe du cours :</label>

            <div class="form_error" *ngIf="f.group.errors && f.group.touched">
                <div class="form-text text-danger" *ngIf="f.group.errors?.['required']">Veuillez saisir un nom pour le groupe</div>
                <div class="form-text text-danger" *ngIf="f.group.errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary" [disabled]="!coursForm.valid">Créer le Cours</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</div>

<div class="courses">

  <div *ngIf="filtreStatusError" class="filtreCoursError alert alert-warning d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
      Aucun cours avec ce status
    </div>
  </div>

  <div *ngFor="let cours of coursTmp; let i = index" class="course">
    <div class="expand" data-bs-toggle="modal" [attr.data-bs-target]="'#coursModal-' + cours._id">
      <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
    </div>

    <div class="coursColor" [style.background-color]="cours.color"></div>

    <div class="content">

      <div class="cours-name">
        <h1>{{ cours.name  }}</h1>
      </div>

      <div class="cours-name_abrev">
        {{ abbreviateCourseName(cours.name) }}
      </div>
      
      <div class="cours-group">
        {{ cours.group }}
      </div>

      <div class="cours-id">
        {{ cours._id }}
      </div>

    </div>

    <div class="modal fade" [id]="'coursModal-' + cours._id" tabindex="-1" aria-labelledby="coursModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="coursModalLabel">{{ cours.name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Contenu du modal pour ce cours -->
            <p>Nom du cours : {{ cours.name }}</p>
            <p>Couleur du cours : {{ cours.color }}</p>
            <p>Groupe attribuer : {{ cours.group }}</p>

            <div *ngIf="cours.vacataire; else elseBlock">
              <p>
                {{cours.vacataire.firstName}} <br>
                {{cours.vacataire.lastName}} <br>
                {{cours.vacataire.phone}} <br>
                {{cours.vacataire.email}} <br>
                {{cours.vacataire.github}} <br>
                {{cours.vacataire.skills}}
              </p>
            </div>
            <ng-template #elseBlock>
              <p>Aucun vacataire n'est admis au cours</p>
            </ng-template>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" [attr.data-bs-target]="'#editCoursModal-' + cours._id" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="initializeFormWithId(cours._id)">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="deleteCours(cours._id)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" [id]="'editCoursModal-' + cours._id" tabindex="-1"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editCoursModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editCourssModalLabel">Modifier le Cours : {{cours.name}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
          </div>
          <div class="modal-body">

            <form
            class="row g-2"
            name="coursForm"
            #f="ngForm"
            [formGroup]="coursForm"
            (ngSubmit)="editCours()"

            >

            <div class="form-floating mb-2">
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Base de données">
              <label for="name">Nom du cours :</label>

              <div class="form_error" *ngIf="coursForm.controls['name'].errors && coursForm.controls['name'].touched">
                <div class="form-text text-danger" *ngIf="coursForm.controls['name'].errors?.['required']">Veuillez saisir un nom de famille</div>
              </div>
            </div>

            <div class="form-floating mb-2">
              <div class="f-cours-color" style="position: relative;">
                <div>
                    <label for="color" class="form-label">Couleur du module :</label>
                </div>
                <div>
                    <input type="color" class="ms-2" id="color" formControlName="color" />
                </div>
              </div>
            </div>

            <div class="form-floating mb-2">
              <input type="text" class="form-control" id="group" formControlName="group" placeholder="BUT3-1">
              <label for="group">Groupe du cours :</label>

              <div class="form_error" *ngIf="coursForm.controls['group'].errors && coursForm.controls['group'].touched">
                <div class="form-text text-danger" *ngIf="coursForm.controls['group'].errors?.['required']">Veuillez saisir un nom de famille</div>
                <div class="form-text text-danger" *ngIf="coursForm.controls['group'].errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="'#coursModal-' + cours._id" (click)="resetForm()">Annuler</button>
              <button type="submit" class="btn btn-primary" [disabled]="!coursForm.valid">Modifier le vacataire</button>
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

