  <div class="gradient-div"></div>
  
  <header *ngIf="!isNotFoundRoute()">
    <div class="navlogo">
      <a href="https://www.iut-blagnac.fr/fr/"><img src="../assets/img/logo-iut.png" alt="Logo de l'IUT"></a>
    </div>
  
    <div class="navbar" [ngClass]="{ 'active': isNavbarActive }">
      <ul>
        <li [routerLinkActive]="'active-vacataires'"><a routerLink="vacataires">Vacataires</a></li>
        <li [routerLinkActive]="'active-cours'"><a routerLink="cours">Cours</a></li>
      </ul>
    </div>
  
    <div class="responsive-menu" (click)="toggleNavbarActive()">
      <i class="fa-solid fa-bars"></i>
    </div>
    
  </header>

<router-outlet></router-outlet>
