<div class="buttons">

  <a class="btn dropdown dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
    aria-expanded="false">Filtres</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Affecter</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Non affecter</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">En attente</a>
  </div>

  <div data-bs-toggle="modal" data-bs-target="#createVacataireModal" class="btn">Créer un vacataire</div>

  <div class="modal fade" id="createVacataireModal" tabindex="-1" aria-labelledby="createVacataireModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createVacataireModalLabel">Créer un Vacataire</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-2" 
            name="createVacataireForm" 
            [formGroup]="createVacataireForm"
            (ngSubmit)="onSubmit()"
          >

            <div class="form-floating mb-2">
              <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="name@example.com">
              <label for="firstName">Prénom :</label>

              <div class="form_error" *ngIf="f.firstName.errors && f.firstName.touched">
                <div class="form-text text-danger" *ngIf="f.firstName.errors?.['required']">Veuillez saisir un prénom</div>
                <div class="form-text text-danger" *ngIf="f.firstName.errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>
              </div>  
            </div>

            <div class="form-floating mb-2">
              <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="name@example.com">
              <label for="lastName">Nom de famille :</label>

              <div class="form_error" *ngIf="f.lastName.errors && f.lastName.touched">
                <div class="form-text text-danger" *ngIf="f.lastName.errors?.['required']">Veuillez saisir un nom de famille</div>
                <div class="form-text text-danger" *ngIf="f.lastName.errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>
              </div>
            </div>  

            <div class="form-floating mb-2">
              <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="name@example.com" maxlength="10" minlength="10">
              <label for="phone">Numéro de téléphone :</label>

              <div class="form_error" *ngIf="f.phone.errors && f.phone.touched">
                <div class="form-text text-danger" *ngIf="f.phone.errors?.['required']">Veuillez saisir un numéro de téléphone</div>
                <div class="form-text text-danger" *ngIf="f.phone.errors?.['pattern']">Seulement des chiffres sont autorisé pour le numéro de téléphone</div>
                <div class="form-text text-danger" *ngIf="f.phone.errors?.['minlength']">Le numéro de téléphone doit être composé de 10 chiffres</div>
                <div class="form-text text-danger" *ngIf="f.phone.errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>

              </div>
            </div>

            <div class="form-floating mb-2">
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com" email="true">
              <label for="email">Adresse email :</label>

              <div class="form_error" *ngIf="f.email.errors && f.email.touched">
                <div class="form-text text-danger" *ngIf="f.email.errors?.['required']">Veuillez saisir une adresse email</div>
                <div class="form-text text-danger" *ngIf="f.email.errors?.['email']">L'adresse email saisie est incorrecte</div>
              </div>
            </div>

            <div class="form-floating mb-2">
              <input type="text" class="form-control" id="github" formControlName="github" placeholder="name@example.com" required>
              <label for="github ">Profil GitHub :</label>

              <div class="form_error" *ngIf="f.github.errors && f.github.touched">
                <div class="form-text text-danger" *ngIf="f.github.errors?.['required']">Veuillez saisir votre profil GitHub</div>
                <div class="form-text text-danger" *ngIf="f.github.errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>
                
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-primary" [disabled]="!createVacataireForm.valid">Créer le vacataire</button>
              <button type="button" class="btn btn-secondary m-2" (click)="click()">click</button>
              <button type="button" class="btn btn-secondary m-2" (click)="updateProfile()">Update Name</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="vacataires">
  <app-vacataire></app-vacataire>
</div>