<div class="buttons">

  <li class="dropdown">
    <a class="btn dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" disabled>Filtres</a>
    <ul class="dropdown-menu">
      <li class="dropdown-submenu dropdown dropend"> 
        <a class="dropdown-item dropdown-toggle fs-6" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" disabled>Status</a>
        <ul class="dropdown-menu">
          <li class="dropdown-item" (click)="filtreStatus('affecter')">Affecter</li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item" (click)="filtreStatus('non affecter')">Non affecter</li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item" (click)="filtreStatus('en attente')">En attente</li>
        </ul>
      </li>
      <div class="dropdown-divider"></div>
      <li class="dropdown-submenu dropdown dropend"> 
        <a class="dropdown-item dropdown-toggle fs-6" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" disabled>Cours</a>
        <ul class="dropdown-menu">
          <div *ngFor="let cours of cours; let i = index">
            <li class="dropdown-item" (click)="filtreCours(cours.name)">{{cours.name}}</li>
            <div class="dropdown-divider" *ngIf="i < coursTmp.length - 1"></div>

          </div>
          
        </ul>
      </li>
    </ul>
  </li>

  <div data-bs-toggle="modal" data-bs-target="#createVacataireModal" class="btn">Créer un vacataire</div>
  
  <div class="modal fade" id="createVacataireModal" tabindex="-1" aria-labelledby="createVacataireModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createVacataireModalLabel">Créer un Vacataire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-2" 
          name="vacataireForm" 
          [formGroup]="vacataireForm"
          (ngSubmit)="addVacataire()"
        >

          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="name@example.com">
            <label for="firstName">Prénom :</label>

            <div class="form_error" *ngIf="f.firstName.errors && f.firstName.touched">
              <div class="form-text text-danger" *ngIf="f.firstName.errors?.['required']">Veuillez saisir un prénom</div>
              <div class="form-text text-danger" *ngIf="f.firstName.errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>
            </div>  
          </div>

          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="name@example.com">
            <label for="lastName">Nom de famille :</label>

            <div class="form_error" *ngIf="f.lastName.errors && f.lastName.touched">
              <div class="form-text text-danger" *ngIf="f.lastName.errors?.['required']">Veuillez saisir un nom de famille</div>
              <div class="form-text text-danger" *ngIf="f.lastName.errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>
            </div>
          </div>  

          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="name@example.com" maxlength="10" minlength="10">
            <label for="phone">Numéro de téléphone :</label>

            <div class="form_error" *ngIf="f.phone.errors && f.phone.touched">
              <div class="form-text text-danger" *ngIf="f.phone.errors?.['required']">Veuillez saisir un numéro de téléphone</div>
              <div class="form-text text-danger" *ngIf="f.phone.errors?.['pattern']">Seulement des chiffres sont autorisé pour le numéro de téléphone</div>
              <div class="form-text text-danger" *ngIf="f.phone.errors?.['minlength']">Le numéro de téléphone doit être composé de 10 chiffres</div>
              <div class="form-text text-danger" *ngIf="f.phone.errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>

            </div>
          </div>

          <div class="form-floating mb-2">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com" email="true">
            <label for="email">Adresse email :</label>

            <div class="form_error" *ngIf="f.email.errors && f.email.touched">
              <div class="form-text text-danger" *ngIf="f.email.errors?.['required']">Veuillez saisir une adresse email</div>
              <div class="form-text text-danger" *ngIf="f.email.errors?.['email']">L'adresse email saisie est incorrecte</div>
            </div>
          </div>

          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="github" formControlName="github" placeholder="name@example.com" required>
            <label for="github ">Profil GitHub :</label>

            <div class="form_error" *ngIf="f.github.errors && f.github.touched">
              <div class="form-text text-danger" *ngIf="f.github.errors?.['required']">Veuillez saisir votre profil GitHub</div>
              <div class="form-text text-danger" *ngIf="f.github.errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>
              
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary" [disabled]="!vacataireForm.valid">Créer le vacataire</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>

<div class="vacataires">

  <div *ngIf="filtreStatusError" class="filtreCoursError alert alert-warning d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
      Aucun vacataire avec ce status
    </div>
  </div>

  <div *ngIf="filtreCoursError" class="filtreCoursError alert alert-warning d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
      Aucun vacataire n'est affecter à ce cours
    </div>
  </div>

  <div *ngFor="let vacataire of vacatairesTmp || vacataires; let i = index" class="vacataire">

    <div class="expand" data-bs-toggle="modal" [attr.data-bs-target]="'#vacataireModal-' + vacataire._id">
      <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
    </div>

    <div class="profile-pic"><img src='../../../assets/img/profile-pic.png' alt="profile-pic"></div>

    <div class="content">
      <div class="index fw-bolder">Vacataire n°{{i+1}}</div>
      <div class="name">{{ vacataire.firstName }} {{ vacataire.lastName }}</div>
      <div class="email">{{ vacataire.email }}</div>
      <div class="skills">Skills : {{ vacataire.skills }}</div>
    </div>

    <div class="status" [ngClass]="getVacataireStatusClass(vacataire.status)"></div>

    <!-- Modal du vacataire actuel -->
    <div class="modal fade" [id]="'vacataireModal-' + vacataire._id" tabindex="-1" aria-labelledby="vacataireModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="vacataireModalLabel">Vacataire : {{ vacataire.firstName }} {{ vacataire.lastName }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="profile-pic"><img src='../../../assets/img/profile-pic.png' alt="profile-pic"></div>

            <p>Téléphone : {{ vacataire.phone }}</p>
            <p>Email : {{ vacataire.email }}</p>
            <p>github : {{ vacataire.github }}</p>
            <ng-container *ngIf="vacataire.cours; else noAffectation">
              Cours assurer : {{ vacataire.cours.name }}
            </ng-container>
            <ng-template #noAffectation>
              Ce vacataire n'assure aucun cours
            </ng-template>
          
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" [attr.data-bs-target]="'#affecterVacataireModal-' + vacataire._id" data-bs-toggle="modal" data-bs-dismiss="modal" [disabled]="vacataire.status == 'affecter'">Affecter</button>
            <!-- <button type="button" class="btn btn-primary" [disabled]="vacataire.status != 'affecter'" (click)="desaffecterVacataire(cours[i]._id)">Désaffecter</button> -->
            <button type="button" class="btn btn-primary" [disabled]="vacataire.status != 'affecter'" (click)="desaffecterVacataire(i)">Désaffecter</button>
            <button type="button" class="btn btn-secondary" [attr.data-bs-target]="'#editVacataireModal-' + vacataire._id" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="initializeFormWithId(vacataire._id)">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="deleteVacataire(vacataire._id)" [disabled]="vacataire.status === 'affecter'">Supprimer</button>
          </div>

          <div class="modal-footer">
            <div class="error" *ngIf="vacataire.status === 'affecter'">
              <p>Suppression impossible ! Le vacataire est affecter à un cours</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" [id]="'affecterVacataireModal-' + vacataire._id" aria-hidden="true" aria-labelledby="affecterVacataireModalLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="affecterVacataireModalLabel2">Affecter {{ vacataire.firstName }} {{ vacataire.lastName }} à un cours</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form
              name="affecteVacataireForm"
              #f="ngForm"
              [formGroup]="affecteVacataireForm"
              (submit)="affecterVacataire(affecteVacataireForm.value.name || '', vacataire._id)"
            >
              <div class="mb-3">
                <div class="form-label">Sélectionner le cours :</div>
                <select class="form-select form-select-scrollable" aria-label="Default select example" name="name" formControlName="name">
                  <option *ngFor="let cours of cours; let i = index" [value]='cours._id' [disabled]="cours.vacataire">{{ cours.name }}</option>
                </select>

                <div class="form_error" *ngIf="">
                  <p>Un vacataire est déjà affecter</p>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="'#vacataireModal-' + vacataire._id">Annuler</button>
                <button type="submit" class="btn btn-primary">Valider</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" [id]="'editVacataireModal-' + vacataire._id" tabindex="-1" aria-labelledby="editVacataireModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editVacataireModalLabel">Modifier le Vacataire : {{vacataire.firstName}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form 
            class="row g-2"
            name="vacataireForm"
            #f="ngForm"
            [formGroup]="vacataireForm"
            (ngSubmit)="editVacataire()"
            >
              <div class="form-floating mb-2">
                <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" placeholder="name@example.com">
                <label for="firstName">Prénom :</label>

                <div class="form_error" *ngIf="vacataireForm.controls['firstName'].errors && vacataireForm.controls['firstName'].touched">
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['firstName'].errors?.['required']">Veuillez saisir un prénom</div>
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['firstName'].errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>                  
                </div>
              </div>
    
              <div class="form-floating mb-2">
                <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName" placeholder="name@example.com">
                <label for="lastName">Nom de famille :</label>

                <div class="form_error" *ngIf="vacataireForm.controls['lastName'].errors && vacataireForm.controls['lastName'].touched">
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['lastName'].errors?.['required']">Veuillez saisir un nom de famille</div>
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['lastName'].errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>
                </div>
    
              </div>
    
              <div class="form-floating mb-2">
                <input type="text" class="form-control" id="phone" name="phone" formControlName="phone" placeholder="name@example.com" maxlength="10" minlength="10">
                <label for="phone">Numéro de téléphone :</label>

                <div class="form_error" *ngIf="vacataireForm.controls['phone'].errors && vacataireForm.controls['phone'].touched">
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['phone'].errors?.['required']">Veuillez saisir un numéro de téléphone</div>
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['phone'].errors?.['pattern']">Seulement les chiffres sont autorisé pour le numéro de téléphone</div>
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['phone'].errors?.['minlength']">Le numéro de téléphone doit être composé de 10 chiffres</div>
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['phone'].errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>
                </div>
    
              </div>
    
              <div class="form-floating mb-2">
                <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="name@example.com" email="true">
                <label for="email">Adresse email :</label>

                <div class="form_error" *ngIf="vacataireForm.controls['email'].errors && vacataireForm.controls['email'].touched">
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['email'].errors?.['required']">Veuillez saisir une adresse email</div>
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['email'].errors?.['email']">L'email saisie est incorrecte</div>
                </div>
    
              </div>
    
              <div class="form-floating mb-2">
                <input type="text" class="form-control" id="github" name="github" formControlName="github" placeholder="name@example.com">
                <label for="github ">Profil GitHub :</label>

                <div class="form_error" *ngIf="vacataireForm.controls['github'].errors && vacataireForm.controls['github'].touched">
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['github'].errors?.['required']">Veuillez saisir un profil GitHub</div>
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['github'].errors?.['noSpaceAllowed']">Veuillez ne pas saisir d'espaces</div>
                </div>

              </div>
              
              <div class=" mb-2 selectImg">
                <label style="text-align: left; color: #8f8f8f;" for="img">Select image:</label>
                <input type="file" class="form-control" id="img" name="img" formControlName="img" name="img" accept="image/*">

                <div class="form_error" *ngIf="vacataireForm.controls['img'].errors">
                  <div class="form-text text-danger" *ngIf="vacataireForm.controls['img'].errors?.['required']">Veuillez choisir une image de profil</div>
                </div>
              </div>
    
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="'#vacataireModal-' + vacataire._id">Annuler</button>
                <button type="submit" class="btn btn-primary" [disabled]="!vacataireForm.valid">Modifier le vacataire</button>
              </div>  
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>
  
</div>
